.content{
	width: 940px;
    margin: 0 auto;
    display: flex;
}

body{
	margin: 0;
	height: auto;
	text-align: ;
	font-family: Helvetica;
}

button{
	border: 0;
}
ul{
	padding: 0;
	list-style-type:none;
	cursor: pointer;
	margin-top: 20px;
    margin-bottom: 17px;

	display: flex;
}

.li2{
	padding: 0 5px;
	padding-bottom: 8px;
}

a:hover {
    background-color: gray;
}

nav{
	width: auto;
	background-color: #cccccc;
}

p{
    color: #656565;
    font-size: 15px;
}

.a1{
	padding: 1em;
    color: white;
    font-size: 14px;
}

.center{
	display: flex;
	align-items: center;
}

#section1{
    width: auto;
    height: 220px;
    background-color: #f2f2f2;
   	position: relative;
    top: 5px;
	display: flex;
}

.ul-bu{
	width: 940px;

	display: flex;
    align-items: center;
	justify-content: space-around;
}

.ul-li{
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.boton1{
	display: flex;
    align-items: center;
}

#make-a-donation-b{
	background-color: #8e8e8e;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 28px;
    font-size: 15px;
}

.flex-column{
	display: flex;
	flex-direction: column;

}

/*section 2*/

#section2{
    width: auto;
    height: 290px;
	display: flex;
    background-color: #e5e5e5;
    position: relative;
    top: 10px;
}

.gray{
	color: #8e8e8e;
}

.welcome{
	width: 100%;
	margin-right: 10em;
}

.get-involved{
	width: 100%;
	margin-right: -12em;
}

ol{
	bottom: 6px;
	margin: 0;
	display: block;
    list-style-image: url(images/hoja.png);  
	position: relative;
   	left: -20px;
   	color: #656565;
    font-size: 15px;
}

.find-out-more{
    width: 170px;
    height: 28px;
	background-color: #8e8e8e;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    margin-top: 25px;
}

/*section 3*/

.section3{
    width: auto;
    height: 360px;
	display: flex;
    background-color: #f2f2f2;
    position: relative;
    top: 15px;
}

.sec3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1em;
}

.part123{
	text-align: justify;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.espacio-lat{
	margin-right: .5em;
}

.read-more{
	width: 90px;
    height: 24px;
	background-color: #aaaaab;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

.rectangulo{
     width: auto; 
     height: 60px; 
     background-color: #aaaaab;
}

/*section 4*/

.section4{
    width: auto;
    height: 280px;
	display: flex;
    background-color: #b2b2b2;
    position: relative;
    top: 20px;
}

.blanco{
	color: white;
}

.glw{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hijos{
	display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1em;
}
.info{
	color: white;
}
.info2{
	color: #656565;
}
.cuadrado{
     width: 40px; 
     height: 40px; 
     background-color: #8f8f8f;
     border-radius: 5px;
     margin-right: 2em;
}
.cuadrado2{
     width: 55px; 
     height: 55px; 
     background-color: #8f8f8f;
     border-radius: 10px;
     margin-right: 1em;
}
.rectangulo2{
     width: 250px; 
     height: 140px; 
     background: #8f8f8f;
}
/*footer*/
.foot{
	height: 100px;
	background-color: #858585;

	display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: space-between;

}
.info-cu{
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 20px;
}
.info-foot{
	width: 100%
}
.cuadros{
	width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: flex-end;
}
.p1{
	color: #cdcdcd;
}
.espacio-cua{
	margin-right: .5em;
	background-color: #cdcdcd;
}
.f1{
	width: 30px; 
     height: 33px; 
}
.f2{
	width: 50px; 
     height: 33px; 
}
.f3{
	width: 50px; 
     height: 33px; 
}
.f4{
	margin: 0;
	width: 100px; 
     height: 33px; 
}